.scraped {
  position: relative;
  background: #ffe9b0;
  margin: 0 0.2rem;
  display: flex;
  &:hover{
    button{
      display: block;
    }
  }
}

.scraped button{
  display: none;
  position: absolute;
  width: 5rem;
  top: -100%;
  left: 20%;
  border-radius: 1rem;
  color: white;
  background: #ff5c5c;
  padding: 0.3rem 0.5rem;
  font-weight: 500;
  animation: fadeIn 0.1s ease-in-out;
  gap: 0.5rem;
  z-index: 1;
  user-select: none;
}


@keyframes fadeIn{
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100%{
    opacity: 3;
    transform: none;
  }
};